/* 

.pane {
    
} */
#backgroundsu{
    -fx-background-color: #1545F3;
}

#StudentMenuPaneTrans {
    -fx-background-color: #1545F3;
}

#StudentMenuPaneSem {
    -fx-background-color: #1545F3;
}

#titlesign{
    -fx-background-color: #7DB3FB;
    -fx-font-family: "Arial"; 
    -fx-font-size: 18px; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}
#HomeLabel{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}
#TranscriptLabel{
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}
#SemesterPlanLabel{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}
#AdvisingNotesLabel{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}

#HomeLabelSem{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}
#TranscriptLabelSem{
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}
#SemesterPlanLabelSem{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}
#AdvisingNotesLabelSem{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}

#HomeLabelAdvise{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}
#TranscriptLabelAdvise{
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}
#SemesterPlanLabelAdvise{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}
#AdvisingNotesLabelAdvise{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}

#HomeLabelTrans{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}
#TranscriptLabelTrans{
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}
#SemesterPlanLabelTrans{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}
#AdvisingNotesLabelTrans{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}


/* #buttonsignup{
    
} */

#panesignup{
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 10;
}

#buttonsign{
    -fx-background-color: #FBD949;
}

#signInAdvisorButton{
    -fx-background-color: #FBD949;
}

#StudentMenuPane{
    -fx-background-color: #1545F3;
}

#ProfilePane{
    -fx-background-color: white;
}

#GpaPane{
    -fx-background-color: white;
}

.highlighted {
    -fx-text-fill: yellow;
    -fx-underline: true;
}




#AdviseeMenuPane{
    -fx-background-color: #706277;
}

#TranscriptLabelAdvisee{
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}

#HomeLabelAdvisee{
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
    
}

#SemesterPlanLabelAdvisee{

    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}

#AdvisingNotesLabelAdvisee{
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;

}

#AdvisorMenuPane{
    -fx-background-color: #1545F3;
}





#chundy{
    -fx-fill: #5d0c63; /* Change the fill color */
}


#pee{
    -fx-fill: #5d0c63; /* Change the fill color */
}

#StudentMenuPaneTransAdvisee{

    -fx-background-color: #1545F3;


}

#butt{
    -fx-fill: #5d0c63; /* Change the fill color */
}

#HomeLabelAdviseAdviseeNotes{

    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}

#TranscriptLabelAdviseeNotes{

    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}


#SemesterPlanLabelAdviseeNotes{

    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}

#AdvisingNotesLabelAdviseAdviseeNotes{

    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}








#AdviseeHomeLabelTrans{

    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}


#AdviseeTranscriptLabelTrans{

    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}

#SemesterPlanLabelTransAdvisee{

    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}

#AdvisingNotesLabelTransAdvisee{

    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}






#AdvisingNotesLabelSemAdvisee{

    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}


#SemesterPlanLabelSemAdvisee{

    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}


#TranscriptLabelSemAdvisee{

    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}

#HomeLabelSemAdvisee{

    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-font-size: 20px;
}

#StudentPaneAdvise {
    -fx-background-color: #1545F3;
}





