.pane {
    
}
#backgroundsu{
    -fx-background-color: #1545F3;
}

#StudentMenuPaneTrans {
    -fx-background-color: #1545F3;
}

#StudentMenuPaneSem {
    -fx-background-color: #1545F3;
}

#titlesign{
    -fx-background-color: #7DB3FB;
    -fx-font-family: "Arial"; 
    -fx-font-size: 18px; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}
#HomeLabel{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}
#TranscriptLabel{
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
}
#SemesterPlanLabel{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}
#AdvisingNotesLabel{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

#HomeLabelSem{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}
#TranscriptLabelSem{
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
}
#SemesterPlanLabelSem{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}
#AdvisingNotesLabelSem{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

#HomeLabelAdvise{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}
#TranscriptLabelAdvise{
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
}
#SemesterPlanLabelAdvise{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}
#AdvisingNotesLabelAdvise{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

#HomeLabelTrans{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}
#TranscriptLabelTrans{
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
}
#SemesterPlanLabelTrans{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}
#AdvisingNotesLabelTrans{
    -fx-text-fill: white;
    -fx-font-family: "Arial"; 
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}


#buttonsignup{
    
}

#panesignup{
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 10;
}

#buttonsign{
    -fx-background-color: #FBD949;
}

#signInAdvisorButton{
    -fx-background-color: #FBD949;
}

#StudentMenuPane{
    -fx-background-color: #1545F3;
}

#ProfilePane{
    -fx-background-color: white;
}

#GpaPane{
    -fx-background-color: white;
}

.highlighted {
    -fx-text-fill: yellow;
    -fx-underline: true;
}


#AdvisorMenuPane{
    -fx-background-color: #1545F3;
}


#signUp1smallBox{
    -fx-background-color: rgba(255, 255, 255, 0.7);
}

#signUp1bigBox{
    -fx-background-color: #1545F3;
}

#continueButton{
    -fx-background-color: #FBD949;
}

#signUpButton{
    -fx-background-color: #FBD949;
}

#signUp2smallBox{
    -fx-background-color: rgba(255, 255, 255, 0.7);
}

#signUp2bigBox{
    -fx-background-color: #1545F3;
}
